/* @font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoMedium.woff2') format(woff2);
	font-display: swap;
	font-weight: 500;
	font-style: normal;
} */

body {
	background-color: #fafafa;
	/* background-color: red; */
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: 'Roboto', sans-serif;

	background-image: url(/img/1618672524_44-phonoteka_org-p-razmitie-serdechki-fon-60.jpg) ; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.timer__title {
	margin: 0;
	margin-bottom: 35px;
	font-weight: 700;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 47px;

	text-align: center;
	color: #f77c7e;
	box-shadow: inset;
	text-shadow: 1px 1px 2px white;
}

.timer {
	background: transparent;
	/* background: #ffffff; */
	box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
	border-radius: 30px;
	width: 500px;
	height: 358px;
	padding: 73px 86px;

	background-image: url(/img/WnXwoNR6HFU.jpg) ; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.timer__content {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.timer__item {
	text-align: center;
}

.timer__value {
	min-width: 81px;
	font-weight: 700;
	font-size: 70px;
	line-height: 82px;
	/* color: #fcb1a9; */
	color: #f77c7e;
	text-shadow: 1px 1px 2px white;
}

.timer__separator {
	font-weight: 700;
	font-size: 48px;
	line-height: 74px;
	color: #fcb1a9;
	margin: 0 33px;
	text-shadow: 1px 1px 2px white;
}

.timer__text {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #4d4d4d;
	text-shadow: 1px 1px 2px white;
}

@media (max-width:800px) {
	.timer {
		width: 250px;
		height: 170px;
	}
	.timer__separator {
		font-size: 30px;
		margin: 0 2px;
	}
	.timer__value {
		font-size: 40px;
	}
}